*{
box-sizing: border-box
}

body {
  background: linear-gradient(130deg, #DF36CE 18%, #EC7EE1 30.2%, rgba(24, 218, 231, 0.49) 86.39%), url("https://img.freepik.com/free-photo/bag-beach-accessories-kept-sand_1252-475.jpg?w=1380&t=st=1680012186~exp=1680012786~hmac=32c5373a9e5c9cd4b3b16266627273cb290b98b33aab987350038c98af5ba4dc");
font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-position: center;
min-height: 100vh;
display: flex;
align-items: center;
 justify-content: center;
  margin: 0;
}

.container{
  min-height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  
}



form{
  border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, #808080); 
    padding: 1rem;
    border-radius: 5pt;
    background-color: #ffff;
    width: 428px;
  position: absolute;  
  top: 50%;
    transform: translateY(-50%) scale(.8);
  opacity: 0;
  z-index: 100;
  transition: all .3s ease;
  transition-delay: 0s;
    
}

form.active{
  transform: translateY(-50%);
  opacity: 1;
  z-index: 200;
  transition-delay: .3s
}

h1{
    font-family: Tahoma; 
    font-weight: 900; 
    text-align: center;
}

.username, .pass{
    position: relative; 
    top: 30px; 
}
input {
  width: 400px; 
  height: 30px; 
  border-top: none; 
  padding-left: 35px; 
  border-right: none; 
  border-left: none;
  outline: none;
  font-family: Open sans;
  font-size: 14px
}
#user { 
  
  width: 20px;
    margin-left: 5px;
    position: relative;
    top: 27px;
}
#forgot-password {
    text-align: right;
}
img.password-img{ width: 20px;
    margin-left: 5px; position: relative; top: 27px;
}
#social-media{
position: relative; top: 10px;
}

#login { 
    border: none;
    background: linear-gradient(270deg, #DF36CE 5.33%, #EC7EE1 55.2%, rgba(24, 218, 231, 0.49) 86.39%); 
  padding: 10px;
    margin-top: 20px;
    text-align: center;
  position: relative;
  display: inline-block;
  border-radius: 10px; 
  width: 100%; 
    height: 40px; 
  cursor: pointer; 
  align-items: center; 
  color: white; 
  align-item: center;
  font-size: 18px;
  box-shadow: 0 3px 2px #EC7EE1;
}

#sign-up{
    text-align: center;

}

#sign-up2{
    text-align: center; 
    cursor: pointer;
    
}

#sign-up2 a{
  text-decoration: none;
}

.icons{
  justify-content: center;
  text-align: center;
  font-size: 24px;
  transition: .3s ease-in-out;
  
}

.icons a{
  padding: 10px;
/*   margin-left: 30px; */
  color: #DF36CE;
  transition: .3s ease-in-out;
}

.icons a:hover{
  color: #EC7EE1;
}

.img{
  margin-top: 180px;
  position: relative;
}



@media screen and (max-width: 920px) {

  form{
        padding: 1rem;
        width: 380px;
        height: 650px
  }

  input{
    width: 340px;
  }
}
